.chatbox-container {
    width: 800px;
    height: 600px;
    background-color: rgb(174, 169, 169);
    border-radius: 6px;
    position: relative;
}


.chat-messages-wrapper {
    /* background-color: red; */
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    -webkit-box-shadow:inset 0 0 10px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:inset 0 0 10px 3px rgba(0,0,0,0.2);
    box-shadow:inset 0 0 10px 3px rgba(0,0,0,0.2);
}

/* width */
.chat-messages-wrapper::-webkit-scrollbar {
    width: 3px;
    height: 10px;
}

  /* Track */
.chat-messages-wrapper::-webkit-scrollbar-track {
    background: #747272;
    border-radius: 15px;
}

  /* Handle */
.chat-messages-wrapper::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #3b3939;
}