.chat-sender-outer-wrapper,
.chat-recipient-outer-wrapper  {
    margin: 10px 20px;
}

.chat-sender-outer-wrapper {
    display: flex;
    justify-content: flex-end;
}

.chat-recipient-outer-wrapper {
    display: flex;
    justify-content: flex-start;
}

.chat-sender-inner-wrapper, 
.chat-recipient-inner-wrapper {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    white-space: normal;
    overflow-wrap: break-word;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.chat-sender-inner-wrapper {
    background-color: rgb(123, 170, 240);
}

.chat-recipient-inner-wrapper {
    background-color: white;
}

.chat-message-time {
    font-size: 12px;
    color: black;
    margin-bottom: 10px;
}

.chat-message-msg {
    color: black;
}

.chat-date-section {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    margin: 10px 50px;
    /* font-weight: bold; */
}