.landing-footer-container {
  height: 400px;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 70px;
  background: hsla(311, 74%, 87%, 1);
  box-shadow: 0px 0px 5px 3px rgba(65, 63, 63, 0.2);
  background: radial-gradient(
    circle,
    hsla(311, 74%, 87%, 1) 0%,
    hsla(293, 27%, 87%, 1) 11%,
    hsla(297, 31%, 87%, 1) 16%,
    hsla(294, 30%, 87%, 1) 23%,
    hsla(283, 22%, 87%, 1) 32%,
    hsla(309, 59%, 87%, 1) 35%,
    hsla(307, 52%, 87%, 1) 40%,
    hsla(308, 56%, 87%, 1) 40%,
    hsla(308, 53%, 87%, 1) 46%,
    hsla(287, 22%, 87%, 1) 54%,
    hsla(304, 41%, 87%, 1) 68%,
    hsla(306, 47%, 87%, 1) 73%,
    hsla(287, 22%, 87%, 1) 78%,
    hsla(293, 27%, 87%, 1) 84%,
    hsla(275, 19%, 88%, 1) 100%
  );
  background: -moz-radial-gradient(
    circle,
    hsla(311, 74%, 87%, 1) 0%,
    hsla(293, 27%, 87%, 1) 11%,
    hsla(297, 31%, 87%, 1) 16%,
    hsla(294, 30%, 87%, 1) 23%,
    hsla(283, 22%, 87%, 1) 32%,
    hsla(309, 59%, 87%, 1) 35%,
    hsla(307, 52%, 87%, 1) 40%,
    hsla(308, 56%, 87%, 1) 40%,
    hsla(308, 53%, 87%, 1) 46%,
    hsla(287, 22%, 87%, 1) 54%,
    hsla(304, 41%, 87%, 1) 68%,
    hsla(306, 47%, 87%, 1) 73%,
    hsla(287, 22%, 87%, 1) 78%,
    hsla(293, 27%, 87%, 1) 84%,
    hsla(275, 19%, 88%, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    hsla(311, 74%, 87%, 1) 0%,
    hsla(293, 27%, 87%, 1) 11%,
    hsla(297, 31%, 87%, 1) 16%,
    hsla(294, 30%, 87%, 1) 23%,
    hsla(283, 22%, 87%, 1) 32%,
    hsla(309, 59%, 87%, 1) 35%,
    hsla(307, 52%, 87%, 1) 40%,
    hsla(308, 56%, 87%, 1) 40%,
    hsla(308, 53%, 87%, 1) 46%,
    hsla(287, 22%, 87%, 1) 54%,
    hsla(304, 41%, 87%, 1) 68%,
    hsla(306, 47%, 87%, 1) 73%,
    hsla(287, 22%, 87%, 1) 78%,
    hsla(293, 27%, 87%, 1) 84%,
    hsla(275, 19%, 88%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F6C4ED", endColorstr="#E5D5E7", GradientType=1 );
}

.landing-footer-wrapper {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 0.5fr);
}

.footer-h1 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
  /* color:white;  */
  margin-left: 40px;
}

.footer-average-container {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
  width: 210px;
  border: 1px solid gray;
  box-shadow: 0px 0px 5px 3px rgba(65, 63, 63, 0.2);
  border-radius: 5px;
  padding: 8px;
  padding-bottom: 0px;
  background-color: rgb(244, 244, 244);
  border: 1px solid gray;
  height: fit-content;
  margin-top: 35px;
}

.landing-footer-review-carousel {
  width: 490px;
  height: 255px;
  /* margin: 50px; */
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 5;
  /* border: 1px solid gray; */
  background-color: rgba(204, 175, 220, 0.25);
  box-shadow: 0px 0px 5px 3px rgba(65, 63, 63, 0.2);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2rem;
  background: #da9ac5;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

/* ********* average review ****************** */
.average-container {
  grid-column-start: 3;
  grid-column-end: 4;
  width: 210px;
  border: 1px solid gray;
  /* position: absolute; */
  right: 30px;
  top: 46px;
  box-shadow: 0px 0px 5px 3px rgba(65, 63, 63, 0.2);
  border-radius: 5px;
  padding: 8px;
  padding-bottom: 0px;
  /* background-color: rgb(244, 244, 244); */
  background-color: rgba(244, 244, 244, 0.8);
  border: 1px solid gray;
}

.avg-num {
  font-weight: bolder;
  font-size: 20px;
  margin-top: 0px;
  margin-left: 5px;
  margin-bottom: 2px;
}

.average-rating-text {
  border-bottom: 1px solid rgb(173, 87, 196);
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-average-bar-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.star-average-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-right: 1px solid rgb(173, 87, 196);
  margin: 5px;
}

/* .star-average-wrapper p {
    color: rgb(255, 255, 0);
  } */

.star-average-wrapper p {
  margin: 3px;
}

.star-bar-wrapper {
  width: 120px;
  margin-top: 10px;
}

.star-rate5,
.star-rate4,
.star-rate3,
.star-rate2,
.star-rate1 {
  height: 12px;
  background-color: black;
}

.star-5-wrap {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
  /* justify-content: flex-start; */
}

.star-5-wrap span {
  margin-left: 5px;
  font-size: 13px;
}

.star-rate5 {
  margin-top: 5px;
  margin-bottom: 0px;
  /* margin-bottom: 10px; */
  background-color: #da9ac5;
}

.star-rate4 {
  margin-top: 0px;
  margin-bottom: 0px;
  /* margin-bottom: 10px; */
  background-color: #da9ac5;
}

.star-rate3 {
  margin-top: 0px;
  margin-bottom: 0px;
  /* margin-bottom: 10px; */
  background-color: #da9ac5;
}

.star-rate2 {
  margin-top: 0px;
  margin-bottom: 0px;
  /* margin-bottom: 10px; */
  background-color: #da9ac5;
}

.star-rate1 {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #da9ac5;
}
