.landing-main-body-container {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    /* height: 1500px; */
    width: 100%;
}

.landing-body-wrapper-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: var(--main-bg-button);
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-carousel-wrap {
    /* background-color: red; */
    width: 300px;
    height: 200px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 50px;
}



.landing-body-wrapper-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    /* background-color: rgb(81, 255, 0); */
}