/* TODO Add site wide styles */

body {
    background-color: var(--main-bg-color);
    /* display: flex;
    justify-content: center; */
    /* height: 100%; */
    /* width: 100%; */
    margin: 10px 0px;
    /* position: relative; */
}


:root {
    --main-bg-color: rgb(239, 213, 217);
    --main-bg-button: rgb(235, 186, 194);
    --main-input-color:  #e9d5b3;
}