.nav-outer-container {
  width: 100vw;
  height: 70px;
  box-shadow: 0px 4px 5px 0px rgba(65, 63, 63, 0.2);
  margin-bottom: 9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 200;
  background-color: var(--main-bg-color);
  /***** gradient background linear **********/
  background: hsla(308, 55%, 87%, 1);
  background: linear-gradient(
    180deg,
    hsla(308, 55%, 87%, 1) 0%,
    hsla(288, 22%, 87%, 1) 100%
  );
  background: -moz-linear-gradient(
    180deg,
    hsla(308, 55%, 87%, 1) 0%,
    hsla(288, 22%, 87%, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    hsla(308, 55%, 87%, 1) 0%,
    hsla(288, 22%, 87%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F0CBEB", endColorstr="#E2D6E5", GradientType=1 );
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0px 30px;
}

.nav-slogan {
  font-size: 40px;
  font-family: URW Chancery L, cursive;
  margin: auto;
}

.nav-list-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: fit-content;
  padding-right: 10px;
  /* margin-right: 5px; */
}

.nav-logo {
  width: 170px;
  height: 80px;
  margin-top: 10px;
}

.nav-list-wrapper > li {
  list-style: none;
}

.nav-list-wrapper > li > a {
  text-decoration: none;
  color: var(--main-text-color);
}

.nav-login-wrapper {
  margin-right: 15px;
}

.nav-create-order {
  font-size: 17px;
  font-weight: bolder;
}

.nav-create-order:hover {
  color: white;
}

.nav-about-us {
  font-size: 17px;
  font-weight: bolder;
  margin: 15px;
}

.nav-about-us:hover {
  color: white;
}

/********** menu css ********************/

.nav-menu-wrapper {
  background-color: rgb(218, 154, 197);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  margin: 0px 15px;
}

.nav-menu-notification {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  top: 0;
  right: 0;
}

.nav-menu-notification-in-menu-box {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  top: 20px;
  right: 10px;
}

.nav-menu-wrapper:hover {
  background-color: #e5a4d0;
}

.nav-menu-button {
  font-size: 25px;
  font-weight: lighter;
}


.nav-menu-wrapper:hover .nav-menu-button {
  font-weight: lighter;
  animation: mybuttonmove 0.5s ease-in;
  color: white;
}

@keyframes mybuttonmove {
  50% {  
    font-size: 30px;
  }
}

.nav-menu {
  width: 175px;
  height: fit-content;
  background-color: rgb(218,154,197);
  position: absolute;
  top: 51px;
  right: 10px;
  z-index: 5;
  padding: 0px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 3px rgba(65, 63, 63, 0.3);
}



.nav-menu-items-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

.nav-menu-items-wrap:hover {
  background-color: var(--main-bg-button);
}

.nav-menu-items {
  width: 100%;
  margin: 0px ;
  padding: 15px 10px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  color: white;
  /* font-size: 18px;
  font-weight: bold; */
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

}

.nav-menu-items:hover {
  color: rgb(125, 124, 124);
}

.nav-menu-customer-reviews {
  padding-right: 7px;
}

.nav-menu-items-logout {
  width: 100%;
  margin: 0px 5px;
  padding: 14px 5px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 22px;
  /* font-size: 20px; */
  /* font-weight: bold; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav-menu-items-logout:hover {
  color: rgb(125, 124, 124);
}

.nav-envelope {
  margin-left: 10px;
}

.nav-menu-icons {
  font-size: 25px;
  margin-right: 8px;
}

/***** cart css ******************/

.nav-shopping-wrapper {
  position: relative;
}

.nav-shopping-cart {
  font-size: 20px;
  margin-top: 5px;
  cursor: pointer;
  padding: 4px;
}

.nav-shopping-cart:hover {
  color: white;
}

.nav-shopping-count {
  width: 17px;
  height: 17px;
  background-color: rgb(229, 76, 76);
  border-radius: 10px;
  position: absolute;
  top: -2px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.nav-shopping-cart-items {
  background-color: var(--main-form-color);
  width: 290px;
  height: 585px;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 22;
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  box-shadow: 0px 2px 10px 3px rgba(65, 63, 63, 0.3);
}
