.nav-outer-container {
    /* width: vw; */
    height: 70px;
    box-shadow: 0px 4px 5px 0px rgba(65, 63, 63, 0.1);
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0px 30px;
}

.nav-list-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

/* .nav-logo-wrapper {
    width: 50px;
} */

.nav-logo {
    width: 170px;
    /* width: 50px; */
}

.nav-list-wrapper > li {
    list-style: none;
}

.nav-list-wrapper > li > a {
    text-decoration: none;
    color: black;
}

.nav-menu-wrapper {
    background-color: var(--main-bg-button);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
}

.nav-menu-button {
    font-size: 25px;
    font-weight: lighter;
}

.nav-menu {
    width: 100px;
    height: 200px;
    background-color: green;
    position: absolute;
    top: 40px;

}