.review-stars {
    font-size: 40px;
    color: rgb(236, 236, 43);
}

.review-user-date-wrapper {
    display: flex;
    border-bottom: 1px solid gray;
}

.review-user {
    font-size: 20px;
    margin: 0px;
}

.review-date {
    font-size: 12px;
    margin: 6px;
    margin-left: 20px;
}

.review-text {
    font-size: 20px;
    text-align: justify;
    white-space: normal;
    overflow-wrap: break-word;
}

.review-img {
    width: 180px;
    /* height: 150px; */
    float:right;
    border-radius: 10px;
    margin: 10px;
}