.review-container {
    width: 380px;
    max-height: 240px;
    height: 310px;
    box-shadow: 0px 0px 5px 3px rgba(65, 63, 63, 0.2);
    border-radius: 5px;
    padding: 15px;
    padding-top: 0px;
    /* padding-bottom: 22px; */
    background-color: rgb(244, 244, 244);
    border: 1px solid gray;
    /* padding-bottom: 20px; */
}

.review-stars {
    font-size: 30px;
    color: #DA9AC5
}

.review-user-date-stars-wrapper {
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: space-between;
}

.review-user-date-wrapper {
    display: flex;
    /* border-bottom: 1px solid gray; */
    justify-content: space-between;
}

.review-user {
    font-size: 30px;
    margin: 5px;
}

.review-date {
    font-size: 12px;
    margin: 6px;
    margin-left: 10px;
    margin-top: 19px;
}

.review-text {
    font-size: 15px;
    /* text-align: justify; */
    white-space: normal;
    overflow-wrap: break-word;
    margin: 7px;
    /* margin-bottom: 12px; */
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.review-img {
    max-width: 25%;
    height: 100px;
    float: right;
    border-radius: 60%;
    margin: 10px;
    shape-outside: circle();
    box-shadow: 0px 0px 5px 3px rgba(65, 63, 63, 0.2);
}